[ {sasl, [
    {sasl_error_logger, tty},
    {errlog_type, all},
    {error_logger_mf_dir, "../logs"},
    {error_logger_mf_maxbytes,10485760}, % 10 MB
    {error_logger_mf_maxfiles, 10} ]},

  {epgsql_pool, [
    {pools, [test]},
    {test, {10, [
      {database, "test"},
      {host, "localhost"},
      {port, 5432},
      {username, "motus"},
      {password, "hellopg"} ]}} ]},

  {misultin, [{port, 8080}]},

  {zml, [{base_dir, "../website3"}]},

  {zerl, [
    {zml_templates, [""]},
    {handle_http_module, zerl_tests} ]} ].

