[ {misultin, [{port, 3034}]},

  {epgsql_pool, [
    {pools, [test]},
    {test, {10, [
      {database, "test"},
      {host, "localhost"},
      {port, 5432},
      {username, "motus"},
      {password, "hellopg"} ]}} ]},

  {zml, [{base_dir, "../website3"}]},

  {zerl, [
    {zml_templates, [""]},
    {handle_http_module, zerl_tests} ]} ].

